.navbar-fixed-top {
  top: -20;
}

.intro-header {
  background: url('Walloon-Lake.jpg') no-repeat center center;
}

.img-responsive {
  border-radius: 5px;
}

.banner {
  background: url('copenhagen.jpg') no-repeat center center;
}

#contrast {
  text-shadow: 4px 4px 5px rgba(0,0,0,0.9)
}

.project-link {
  color: black;
}
.project-link:hover {
  text-decoration: none;
  color: black;
}

@media (min-width: 786px) {
  .kelly {
    margin-top: 7em;
  }
}
